@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 45 100% 94.3%;
    --foreground: 20 14.3% 4.1%;
    --card: 45 100% 94.3%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 45 100% 94.3%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 39 100% 50%;
    --primary-foreground: 39 100% 98%;
    --secondary: 261 100% 91.6%;
    --secondary-foreground: 261 50% 30%;
    --muted: 45 30% 90%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 39 95% 55%;
    --accent-foreground: 39 100% 5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 45 20% 85%;
    --input: 45 20% 88%;
    --ring: 39 100% 50%;
    --chart-1: 39 100% 50%;
    --chart-2: 220 100% 84.1%;
    --chart-3: 120 100% 85.1%;
    --chart-4: 265 100% 84.1%;
    --chart-5: 261 100% 91.6%;
    --radius: 0.5rem;
    --sidebar-background: 45 100% 92%;
    --sidebar-foreground: 20 14.3% 4.1%;
    --sidebar-primary: 39 100% 50%;
    --sidebar-primary-foreground: 39 100% 98%;
    --sidebar-accent: 45 100% 88%;
    --sidebar-accent-foreground: 39 100% 30%;
    --sidebar-border: 45 20% 80%;
    --sidebar-ring: 39 100% 50%;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 39 100% 50%;
    --primary-foreground: 39 100% 98%;
    --secondary: 261 40% 20%;
    --secondary-foreground: 261 90% 90%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 39 95% 45%;
    --accent-foreground: 39 100% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 39 100% 50%;
    --chart-1: 39 100% 50%;
    --chart-2: 220 80% 60%;
    --chart-3: 120 80% 60%;
    --chart-4: 265 80% 60%;
    --chart-5: 261 80% 70%;
    --sidebar-background: 20 14.3% 6%;
    --sidebar-foreground: 60 9.1% 97.8%;
    --sidebar-primary: 39 100% 50%;
    --sidebar-primary-foreground: 39 100% 98%;
    --sidebar-accent: 20 14.3% 12%;
    --sidebar-accent-foreground: 60 9.1% 97.8%;
    --sidebar-border: 12 6.5% 15.1%;
    --sidebar-ring: 39 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
